$primary-blue: hsl(233, 26%, 24%);
$primary-green: hsl(136, 64%, 51%);
$primary-cyan: hsl(192, 69%, 51%);

$neutral-gray-50: hsl(0, 0%, 98%);
$neutral-gray-100: hsl(220, 16%, 96%);
$neutral-gray-600: hsl(233, 8%, 62%);

$neutral-white: hsl(0, 100%, 100%);

$body-size: 18px;

$font-family-primary: "Fira Sans", sans-serif;

$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;