@use "variables";
@use "mixins";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: variables.$font-family-primary;
    font-size: variables.$body-size;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

header {
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
    top: 0;
    background-color: variables.$neutral-white;
    z-index: 100;
    width: 100%;
    padding: 10px 20px;

    a {
        text-decoration: none;
    }

    .menu-toggle {
        display: none;
    }

    .btn-invite {
        display: none;
    }

    .menu-btn {
        cursor: pointer;
        margin-left: auto;
        display: flex;
        align-items: center;

        .icon-close {
            display: none;
        }
    }

    .mobile-menu {
        display: none;
        position: fixed;
        top: 62px;
        left: 24px;
        right: 24px;
        background-color: variables.$neutral-white;
        border-radius: 4px;
        z-index: 90;

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            padding: 20px 0;
        }

        li a {
            display: block;
            text-align: center;
            padding: 10px 0;
            color: variables.$primary-blue;
            text-decoration: none;

            &:active {
                background-color: variables.$neutral-gray-600;
                color: variables.$neutral-white;
            }
        }
    }
}

.menu-overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: linear-gradient(to bottom, rgba(45, 49, 77, 0.65), transparent);
    z-index: 80;
}

body:has(#menu-toggle:checked) {
    .mobile-menu {
        display: block;
    }

    .menu-overlay {
        display: block;
    }

    .icon-hamburger {
        display: none;
    }

    .icon-close {
        display: block;
    }
}

.banking-hero {
    padding-top: 42px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;

    .hero-img {
        display: flex;
        flex-direction: row;

        justify-content: center;
        background: url(src/img/bg-intro-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 -68px;
    
        overflow: hidden;

        margin-bottom: -90px;
    
        img {
            width: 90%;
            transform: translateY(-120px);
        }
    }

    .hero-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 0 20px 50px 20px;

        h1 {
            @include mixins.head(45px);
        }
        p {
            @include mixins.paragraph(14.5px);
        }
        a {
            @include mixins.button-invite(15px 30px, 25px);
            text-decoration: none;
            transition: filter 0.2s ease-out;
        
            &:hover {
                opacity: 1;
            }
            &:active {
                filter: brightness(110%);
            }
        }
    }
}

.banking-features {
    scroll-margin-top: 42px;
    display: flex;
    flex-direction: column;
    background-color: variables.$neutral-gray-100;
    gap: 50px;
    padding: 50px 20px;

    .features-desc {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    h2 {
        @include mixins.head(30px);
    }

    p {
        @include mixins.paragraph(14.5px);
    }

    h3 {
        @include mixins.head(30px);
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 30px;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        img {
            width: 20%;
            margin-bottom: 10px;
        }
    }
}

.banking-articles {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 20px;
    background-color: variables.$neutral-gray-50;
    scroll-margin-top: 42px;

    h4 {
        @include mixins.head(30px);
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    li {
        background-color: variables.$neutral-white;
        border-radius: 0 0 5px 5px;
    }

    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        figcaption {
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding: 0 30px;
        }

        img {
            width: 100%;
            max-height: 190px;
            object-fit: cover;
            border-radius: 5px 5px 0 0;
        }

        a {
            @include mixins.head(16px);
            text-align: left;
            text-decoration: none;
            transition: color 0.15s ease-out;

            &:active {
                color: variables.$primary-green;
            }
            &:hover {
                color: variables.$primary-green;
            }
        }

        span {
            @include mixins.paragraph(10px);
            text-align: left;
        }

        p {
            @include mixins.paragraph(14.5px);
            text-align: left;
            max-width: 320px;
            padding-bottom: 20px;
        }
    }
}

.banking-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: variables.$primary-blue;
    padding: 50px 20px;
    scroll-margin-top: 42px;
    gap: 30px;

    .footer-brand {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .logo-footer {
        min-width: 200px;
        max-width: 300px;
    }

    .social-media {
        display: flex;
        flex-direction: row;
        gap: 20px;
        list-style: none;
        align-items: center;

        .social-icon {
            min-width: 30px;
            max-width: 70px;
        }
    }

    .nav-footer {
        display: flex;
        flex-direction: column;
        gap: 15px;
        list-style: none;
        align-items: center;

        a {
            text-decoration: none;
            color: variables.$neutral-gray-100;
            transition: color 0.2s ease-out;
            
            &:active {
                color: variables.$primary-green;
            }
        }
    }

    .footer-cta {
        display: flex;
        flex-direction: column;
        gap: 30px;
        
    }

    .btn-invite {
        @include mixins.button-invite(12px 32px, 30px);
        text-decoration: none;
        margin-top: 10px;
        text-align: center;
        align-self: flex-end;
        transition: filter 0.2s ease-out;
        
        &:hover {
            opacity: 1;
        }
        &:active {
            filter: brightness(110%);
        }
    }

    p {
        color: variables.$neutral-gray-600;
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) {
    header {
        justify-content: space-between;
        padding: 15px 40px;
        transition: padding 0.1s ease-out;

        .logo-header {
            width: 180px;
        }

        .btn-invite {
            display: flex;
            @include mixins.button-invite(12px 25px, 20px);
            font-size: 14px;
        }

        .menu-btn {
            display: none;

            .icon-hamburger {
                display: none;
            }
        }

        .mobile-menu {
            display: flex;
            flex-direction: row;
            position: relative;
            top: auto;
            left: auto;
            right: auto;

            ul {
                flex-direction: row;
                padding: 0;
                gap: 20px;
            }

            li a {
                font-size: 15px;
                padding: 0;
                color: variables.$neutral-gray-600;
                text-decoration: 4px underline;
                text-decoration-color: transparent;
                text-underline-offset: 22px;
                text-align: center;

                position: relative;
                display: block;

                transition: color 0.2s ease-out;

                &:hover {
                    color: variables.$primary-blue;
                }

                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 4px;
                    left: 0;
                    bottom: -27px;                    
                    background: linear-gradient(10deg, variables.$primary-cyan 0%, variables.$primary-green 100%);

                    transform: scaleY(0);
                    transform-origin: top;
                    transition: transform 0.1s ease-out;
                }

                &:hover::after {
                    transform: scaleY(1);
                }
            }
        }
    }

    body:has(#menu-toggle:checked) {
        .mobile-menu {
            display: none;
        }

        .menu-overlay {
            display: none;
        }

        .icon-hamburger {
            display: none;
        }

        .icon-close {
            display: none;
        }
    }

    .banking-hero {
        .hero-img {
            background: url(src/img/bg-intro-desktop.svg);
            background-position: 0 -350px;
            background-repeat: no-repeat;
        }

        p {
            line-height: 1.5;
        }

        .hero-desc {
            padding: 0 40px 70px 40px;

            h1 {
                @include mixins.head(50px);
            }
            a {
                @include mixins.button-invite(15px 35px, 30px);
            }
        }
    }

    .banking-features {
        scroll-margin-top: 70.8px;
        padding: 70px 40px;
        gap: 65px;
        position: relative;

        .features-desc {
            max-width: 550px;
        }

        h2 {
            @include mixins.head(38px);
            align-self: flex-start;
        }

        h3 {
            @include mixins.head(25px);
            align-self: flex-start;
        }

        p {
            text-align: left;
            line-height: 1.4;
        }

        ul {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;

            img {
                align-self: flex-start;
            }
        }

        li {
            max-width: 300px;
        }
    }

    .banking-articles {
        scroll-margin-top: 70.8px;
        gap: 40px;
        padding: 70px 40px;

        h4 {
            @include mixins.head(38px);
        }

        ul {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-evenly;
        }

        figure {
            max-width: 300px;
        }
    }

    .banking-footer {
        padding: 70px 40px;
        flex-direction: row;
        justify-content: space-between;

        .footer-brand {
            gap: 45px;
        }

        .nav-footer {
            a {
                transition: color 0.2s ease-out;
                &:hover {
                    color: variables.$primary-green;
                }
            }
        }

        .footer-cta {
            align-self: flex-end;
            gap: 10px;

            .btn-invite {
                &:hover {
                    color: variables.$neutral-gray-100;
                    filter: brightness(120%);
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    header {
        padding: 20px 80px;
        transition: padding 0.1s ease-out, gap 0.1s ease-out;

        .logo-header {
            width: 200px;
        }

        .btn-invite {
            display: flex;
            @include mixins.button-invite(12px 35px, 30px);
            font-size: 16px;
        }

        .mobile-menu {
            ul {
                gap: 35px;
            }

            li a {
                font-size: 16px;

                &::after {
                    height: 5px;
                    bottom: -32px;
                }
            }
        }
    }

    .banking-hero {
        flex-direction: row;
        align-items: center;
        padding: 83.2px 0 0 80px;
        gap: 30px;
        justify-content: space-between;

        .hero-desc {
            width: 500px;
            padding: 0;

            h1 {
                @include mixins.head(55px);
                text-align: left;
            }
            p {
                @include mixins.paragraph(16px);
                width: 400px;
                text-align: left;
                align-self: flex-start;
                
            }
            a {
                align-self: flex-start;
            }
        }

        .hero-img {
            background-size: auto;
            background-position: -70px -270px;
            
            img {
                position: relative;
                z-index: 1;
                width: 100%;
                transform: translateY(-20px) translateX(80px);
            }
        }
    }

    .banking-features {
        scroll-margin-top: 83.2px;
        padding: 70px 80px;

        .features-desc {
            max-width: 560px;
        }

        h2 {
            @include mixins.head(40px);
        }

        p {
            @include mixins.paragraph(16px);
            text-align: left;
        }

        h3 {
            @include mixins.head(30px);
        }

        ul {
            gap: 50px;

            img {
                width: 20%;
            }
        }

        li {
            max-width: 45%;
        }
    }

    .banking-articles {
        scroll-margin-top: 83.2px;
        padding: 70px 80px;

        h4 {
            @include mixins.head(40px);
        }

        ul {
            gap: 20px;
        }

        figure {
            max-width: 400px;
            
            a {
                @include mixins.head(18px);
            }

            span {
                @include mixins.paragraph(12px);
                text-align: left;
            }

            p {
                @include mixins.paragraph(16px);
                line-height: 1.5;
                text-align: left;
                max-width: 100%;
                padding-bottom: 20px;
            }
        }
    }

    .banking-footer {
        scroll-margin-top: 83.2px;
        padding: 40px 80px;
        justify-content: flex-start;
        gap: 60px;

        .footer-brand {
            gap: 20px;
        }

        .nav-footer {
            flex-direction: column;
            flex-wrap: wrap;
            height: 100px;

            li { 
                align-self: flex-start;
                padding-right: 20px;
            }
        }

        .footer-cta {
            margin-left: auto
        }

        .btn-invite {
            @include mixins.button-invite(10px 25px, 30px);
            align-self: flex-end;
            transition: filter 0.2s ease-out;
            
            &:hover {
                opacity: 1.0;
                color: variables.$neutral-gray-100;
                filter: brightness(120%);
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    header {
        padding: 20px 100px;

        .logo-header {
            width: 320px;
        }

        .btn-invite {
            @include mixins.button-invite(15px 40px, 30px);
            font-size: 20px;
        }

        .mobile-menu {
            ul {
                gap: 55px;
            }

            li a {
                font-size: 20px;

                &::after {
                    height: 6px;
                    bottom: -35px;
                }
            }
        }
    }

    .banking-hero {
        scroll-margin-top: 94px;
        padding: 94px 0 0 100px;
        gap: 30px;

        .hero-desc {
            width: 500px;
            padding: 0;
            gap: 25px;

            h1 {
                @include mixins.head(65px);
                text-align: left;
            }

            p {
                @include mixins.paragraph(18px);
                text-align: left;
            }

            a {
                @include mixins.button-invite(15px 40px, 30px);
                font-size: 20px;
            }
        }

        .hero-img {
            background-size: auto;
            background-position: -70px -200px;
            margin-bottom: -180px;

            img {
                position: relative;
                z-index: 1;
                width: 100%;
                transform: translateY(-85px) translateX(120px);
            }
        }
    }

    .banking-features {
        scroll-margin-top: 94px;
        padding: 80px 100px;

        h2 {
            @include mixins.head(45px);
            text-align: left;
        }

        ul {
            gap: 50px;
            justify-content: space-between;
            flex-wrap: nowrap;

            img {
                width: 30%;
            }

            li {
                min-width: 250px;
                max-width: 400px;
                align-items: start;
            }

            p {
                max-width: 100%;
            }
        }

        h3 {
            @include mixins.head(25px);
            align-self: flex-start;
        }
    }

    .banking-articles {
        scroll-margin-top: 94px;
        padding: 80px 100px;

        h4 {
            @include mixins.head(40px);
        }

        ul {
            gap: 0;
            flex-wrap: nowrap;
            gap: 20px;
        }

        figure {
            min-width: 280px;
            max-width: 400px;

            img {
                min-height: 160px;
                max-height: 180px;
            }
            
            a {
                @include mixins.head(20px);
            }

            span {
                @include mixins.paragraph(13px);
                text-align: left;
            }
        }
    }

    .banking-footer {
        scroll-margin-top: 94px;
        padding: 40px 100px;
        gap: 200px;

        .footer-brand {
            gap: 60px;
        }

        .nav-footer {
            height: 125px;
            gap: 28px;
        }

        .btn-invite {
            @include mixins.button-invite(15px 40px, 30px);
            align-self: flex-end;
            transition: filter 0.2s ease-out;

            &:hover {
                opacity: 1.0;
                color: variables.$neutral-gray-100;
                filter: brightness(120%);
            }
        }
    }
}