* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

header {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  top: 0;
  background-color: hsl(0, 100%, 100%);
  z-index: 100;
  width: 100%;
  padding: 10px 20px;
}
header a {
  text-decoration: none;
}
header .menu-toggle {
  display: none;
}
header .btn-invite {
  display: none;
}
header .menu-btn {
  cursor: pointer;
  margin-left: auto;
  display: flex;
  align-items: center;
}
header .menu-btn .icon-close {
  display: none;
}
header .mobile-menu {
  display: none;
  position: fixed;
  top: 62px;
  left: 24px;
  right: 24px;
  background-color: hsl(0, 100%, 100%);
  border-radius: 4px;
  z-index: 90;
}
header .mobile-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
header .mobile-menu li a {
  display: block;
  text-align: center;
  padding: 10px 0;
  color: hsl(233, 26%, 24%);
  text-decoration: none;
}
header .mobile-menu li a:active {
  background-color: hsl(233, 8%, 62%);
  color: hsl(0, 100%, 100%);
}

.menu-overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: linear-gradient(to bottom, rgba(45, 49, 77, 0.65), transparent);
  z-index: 80;
}

body:has(#menu-toggle:checked) .mobile-menu {
  display: block;
}
body:has(#menu-toggle:checked) .menu-overlay {
  display: block;
}
body:has(#menu-toggle:checked) .icon-hamburger {
  display: none;
}
body:has(#menu-toggle:checked) .icon-close {
  display: block;
}

.banking-hero {
  padding-top: 42px;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}
.banking-hero .hero-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: url(src/img/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -68px;
  overflow: hidden;
  margin-bottom: -90px;
}
.banking-hero .hero-img img {
  width: 90%;
  transform: translateY(-120px);
}
.banking-hero .hero-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 20px 50px 20px;
}
.banking-hero .hero-desc h1 {
  font-size: 45px;
  text-align: center;
  font-weight: 400;
  color: hsl(233, 26%, 24%);
}
.banking-hero .hero-desc p {
  color: hsl(233, 8%, 62%);
  text-align: center;
  font-size: 14.5px;
}
.banking-hero .hero-desc a {
  background: linear-gradient(15deg, hsl(192, 69%, 51%) 0%, hsl(136, 64%, 51%) 100%);
  color: hsl(0, 100%, 100%);
  border: none;
  border-radius: 25px;
  padding: 15px 30px;
  transition: opacity 0.15s ease-out;
  font-weight: 500;
  text-align: center;
}
.banking-hero .hero-desc a:hover {
  opacity: 0.6;
}
.banking-hero .hero-desc a {
  text-decoration: none;
  transition: filter 0.2s ease-out;
}
.banking-hero .hero-desc a:hover {
  opacity: 1;
}
.banking-hero .hero-desc a:active {
  filter: brightness(110%);
}

.banking-features {
  scroll-margin-top: 42px;
  display: flex;
  flex-direction: column;
  background-color: hsl(220, 16%, 96%);
  gap: 50px;
  padding: 50px 20px;
}
.banking-features .features-desc {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.banking-features h2 {
  font-size: 30px;
  text-align: center;
  font-weight: 400;
  color: hsl(233, 26%, 24%);
}
.banking-features p {
  color: hsl(233, 8%, 62%);
  text-align: center;
  font-size: 14.5px;
}
.banking-features h3 {
  font-size: 30px;
  text-align: center;
  font-weight: 400;
  color: hsl(233, 26%, 24%);
}
.banking-features ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.banking-features ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.banking-features ul img {
  width: 20%;
  margin-bottom: 10px;
}

.banking-articles {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 20px;
  background-color: hsl(0, 0%, 98%);
  scroll-margin-top: 42px;
}
.banking-articles h4 {
  font-size: 30px;
  text-align: center;
  font-weight: 400;
  color: hsl(233, 26%, 24%);
}
.banking-articles ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.banking-articles li {
  background-color: hsl(0, 100%, 100%);
  border-radius: 0 0 5px 5px;
}
.banking-articles figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.banking-articles figure figcaption {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 30px;
}
.banking-articles figure img {
  width: 100%;
  max-height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.banking-articles figure a {
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  color: hsl(233, 26%, 24%);
  text-align: left;
  text-decoration: none;
  transition: color 0.15s ease-out;
}
.banking-articles figure a:active {
  color: hsl(136, 64%, 51%);
}
.banking-articles figure a:hover {
  color: hsl(136, 64%, 51%);
}
.banking-articles figure span {
  color: hsl(233, 8%, 62%);
  text-align: center;
  font-size: 10px;
  text-align: left;
}
.banking-articles figure p {
  color: hsl(233, 8%, 62%);
  text-align: center;
  font-size: 14.5px;
  text-align: left;
  max-width: 320px;
  padding-bottom: 20px;
}

.banking-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(233, 26%, 24%);
  padding: 50px 20px;
  scroll-margin-top: 42px;
  gap: 30px;
}
.banking-footer .footer-brand {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.banking-footer .logo-footer {
  min-width: 200px;
  max-width: 300px;
}
.banking-footer .social-media {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  align-items: center;
}
.banking-footer .social-media .social-icon {
  min-width: 30px;
  max-width: 70px;
}
.banking-footer .nav-footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  align-items: center;
}
.banking-footer .nav-footer a {
  text-decoration: none;
  color: hsl(220, 16%, 96%);
  transition: color 0.2s ease-out;
}
.banking-footer .nav-footer a:active {
  color: hsl(136, 64%, 51%);
}
.banking-footer .footer-cta {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.banking-footer .btn-invite {
  background: linear-gradient(15deg, hsl(192, 69%, 51%) 0%, hsl(136, 64%, 51%) 100%);
  color: hsl(0, 100%, 100%);
  border: none;
  border-radius: 30px;
  padding: 12px 32px;
  transition: opacity 0.15s ease-out;
  font-weight: 500;
  text-align: center;
}
.banking-footer .btn-invite:hover {
  opacity: 0.6;
}
.banking-footer .btn-invite {
  text-decoration: none;
  margin-top: 10px;
  text-align: center;
  align-self: flex-end;
  transition: filter 0.2s ease-out;
}
.banking-footer .btn-invite:hover {
  opacity: 1;
}
.banking-footer .btn-invite:active {
  filter: brightness(110%);
}
.banking-footer p {
  color: hsl(233, 8%, 62%);
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  header {
    justify-content: space-between;
    padding: 15px 40px;
    transition: padding 0.1s ease-out;
  }
  header .logo-header {
    width: 180px;
  }
  header .btn-invite {
    display: flex;
    background: linear-gradient(15deg, hsl(192, 69%, 51%) 0%, hsl(136, 64%, 51%) 100%);
    color: hsl(0, 100%, 100%);
    border: none;
    border-radius: 20px;
    padding: 12px 25px;
    transition: opacity 0.15s ease-out;
    font-weight: 500;
    text-align: center;
  }
  header .btn-invite:hover {
    opacity: 0.6;
  }
  header .btn-invite {
    font-size: 14px;
  }
  header .menu-btn {
    display: none;
  }
  header .menu-btn .icon-hamburger {
    display: none;
  }
  header .mobile-menu {
    display: flex;
    flex-direction: row;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
  }
  header .mobile-menu ul {
    flex-direction: row;
    padding: 0;
    gap: 20px;
  }
  header .mobile-menu li a {
    font-size: 15px;
    padding: 0;
    color: hsl(233, 8%, 62%);
    -webkit-text-decoration: 4px underline;
            text-decoration: 4px underline;
    text-decoration-color: transparent;
    text-underline-offset: 22px;
    text-align: center;
    position: relative;
    display: block;
    transition: color 0.2s ease-out;
  }
  header .mobile-menu li a:hover {
    color: hsl(233, 26%, 24%);
  }
  header .mobile-menu li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -27px;
    background: linear-gradient(10deg, hsl(192, 69%, 51%) 0%, hsl(136, 64%, 51%) 100%);
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.1s ease-out;
  }
  header .mobile-menu li a:hover::after {
    transform: scaleY(1);
  }
  body:has(#menu-toggle:checked) .mobile-menu {
    display: none;
  }
  body:has(#menu-toggle:checked) .menu-overlay {
    display: none;
  }
  body:has(#menu-toggle:checked) .icon-hamburger {
    display: none;
  }
  body:has(#menu-toggle:checked) .icon-close {
    display: none;
  }
  .banking-hero .hero-img {
    background: url(src/img/bg-intro-desktop.svg);
    background-position: 0 -350px;
    background-repeat: no-repeat;
  }
  .banking-hero p {
    line-height: 1.5;
  }
  .banking-hero .hero-desc {
    padding: 0 40px 70px 40px;
  }
  .banking-hero .hero-desc h1 {
    font-size: 50px;
    text-align: center;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
  }
  .banking-hero .hero-desc a {
    background: linear-gradient(15deg, hsl(192, 69%, 51%) 0%, hsl(136, 64%, 51%) 100%);
    color: hsl(0, 100%, 100%);
    border: none;
    border-radius: 30px;
    padding: 15px 35px;
    transition: opacity 0.15s ease-out;
    font-weight: 500;
    text-align: center;
  }
  .banking-hero .hero-desc a:hover {
    opacity: 0.6;
  }
  .banking-features {
    scroll-margin-top: 70.8px;
    padding: 70px 40px;
    gap: 65px;
    position: relative;
  }
  .banking-features .features-desc {
    max-width: 550px;
  }
  .banking-features h2 {
    font-size: 38px;
    text-align: center;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
    align-self: flex-start;
  }
  .banking-features h3 {
    font-size: 25px;
    text-align: center;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
    align-self: flex-start;
  }
  .banking-features p {
    text-align: left;
    line-height: 1.4;
  }
  .banking-features ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .banking-features ul img {
    align-self: flex-start;
  }
  .banking-features li {
    max-width: 300px;
  }
  .banking-articles {
    scroll-margin-top: 70.8px;
    gap: 40px;
    padding: 70px 40px;
  }
  .banking-articles h4 {
    font-size: 38px;
    text-align: center;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
  }
  .banking-articles ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
  }
  .banking-articles figure {
    max-width: 300px;
  }
  .banking-footer {
    padding: 70px 40px;
    flex-direction: row;
    justify-content: space-between;
  }
  .banking-footer .footer-brand {
    gap: 45px;
  }
  .banking-footer .nav-footer a {
    transition: color 0.2s ease-out;
  }
  .banking-footer .nav-footer a:hover {
    color: hsl(136, 64%, 51%);
  }
  .banking-footer .footer-cta {
    align-self: flex-end;
    gap: 10px;
  }
  .banking-footer .footer-cta .btn-invite:hover {
    color: hsl(220, 16%, 96%);
    filter: brightness(120%);
  }
}
@media screen and (min-width: 1024px) {
  header {
    padding: 20px 80px;
    transition: padding 0.1s ease-out, gap 0.1s ease-out;
  }
  header .logo-header {
    width: 200px;
  }
  header .btn-invite {
    display: flex;
    background: linear-gradient(15deg, hsl(192, 69%, 51%) 0%, hsl(136, 64%, 51%) 100%);
    color: hsl(0, 100%, 100%);
    border: none;
    border-radius: 30px;
    padding: 12px 35px;
    transition: opacity 0.15s ease-out;
    font-weight: 500;
    text-align: center;
  }
  header .btn-invite:hover {
    opacity: 0.6;
  }
  header .btn-invite {
    font-size: 16px;
  }
  header .mobile-menu ul {
    gap: 35px;
  }
  header .mobile-menu li a {
    font-size: 16px;
  }
  header .mobile-menu li a::after {
    height: 5px;
    bottom: -32px;
  }
  .banking-hero {
    flex-direction: row;
    align-items: center;
    padding: 83.2px 0 0 80px;
    gap: 30px;
    justify-content: space-between;
  }
  .banking-hero .hero-desc {
    width: 500px;
    padding: 0;
  }
  .banking-hero .hero-desc h1 {
    font-size: 55px;
    text-align: center;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
    text-align: left;
  }
  .banking-hero .hero-desc p {
    color: hsl(233, 8%, 62%);
    text-align: center;
    font-size: 16px;
    width: 400px;
    text-align: left;
    align-self: flex-start;
  }
  .banking-hero .hero-desc a {
    align-self: flex-start;
  }
  .banking-hero .hero-img {
    background-size: auto;
    background-position: -70px -270px;
  }
  .banking-hero .hero-img img {
    position: relative;
    z-index: 1;
    width: 100%;
    transform: translateY(-20px) translateX(80px);
  }
  .banking-features {
    scroll-margin-top: 83.2px;
    padding: 70px 80px;
  }
  .banking-features .features-desc {
    max-width: 560px;
  }
  .banking-features h2 {
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
  }
  .banking-features p {
    color: hsl(233, 8%, 62%);
    text-align: center;
    font-size: 16px;
    text-align: left;
  }
  .banking-features h3 {
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
  }
  .banking-features ul {
    gap: 50px;
  }
  .banking-features ul img {
    width: 20%;
  }
  .banking-features li {
    max-width: 45%;
  }
  .banking-articles {
    scroll-margin-top: 83.2px;
    padding: 70px 80px;
  }
  .banking-articles h4 {
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
  }
  .banking-articles ul {
    gap: 20px;
  }
  .banking-articles figure {
    max-width: 400px;
  }
  .banking-articles figure a {
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
  }
  .banking-articles figure span {
    color: hsl(233, 8%, 62%);
    text-align: center;
    font-size: 12px;
    text-align: left;
  }
  .banking-articles figure p {
    color: hsl(233, 8%, 62%);
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    max-width: 100%;
    padding-bottom: 20px;
  }
  .banking-footer {
    scroll-margin-top: 83.2px;
    padding: 40px 80px;
    justify-content: flex-start;
    gap: 140px;
  }
  .banking-footer .footer-brand {
    gap: 20px;
  }
  .banking-footer .nav-footer {
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
  }
  .banking-footer .nav-footer li {
    align-self: flex-start;
    padding-right: 60px;
  }
  .banking-footer .footer-cta {
    margin-left: auto;
  }
  .banking-footer .btn-invite {
    background: linear-gradient(15deg, hsl(192, 69%, 51%) 0%, hsl(136, 64%, 51%) 100%);
    color: hsl(0, 100%, 100%);
    border: none;
    border-radius: 30px;
    padding: 10px 25px;
    transition: opacity 0.15s ease-out;
    font-weight: 500;
    text-align: center;
  }
  .banking-footer .btn-invite:hover {
    opacity: 0.6;
  }
  .banking-footer .btn-invite {
    align-self: flex-end;
    transition: filter 0.2s ease-out;
  }
  .banking-footer .btn-invite:hover {
    opacity: 1;
    color: hsl(220, 16%, 96%);
    filter: brightness(120%);
  }
}
@media screen and (min-width: 1440px) {
  header {
    padding: 20px 100px;
  }
  header .logo-header {
    width: 320px;
  }
  header .btn-invite {
    background: linear-gradient(15deg, hsl(192, 69%, 51%) 0%, hsl(136, 64%, 51%) 100%);
    color: hsl(0, 100%, 100%);
    border: none;
    border-radius: 30px;
    padding: 15px 40px;
    transition: opacity 0.15s ease-out;
    font-weight: 500;
    text-align: center;
  }
  header .btn-invite:hover {
    opacity: 0.6;
  }
  header .btn-invite {
    font-size: 20px;
  }
  header .mobile-menu ul {
    gap: 55px;
  }
  header .mobile-menu li a {
    font-size: 20px;
  }
  header .mobile-menu li a::after {
    height: 6px;
    bottom: -35px;
  }
  .banking-hero {
    scroll-margin-top: 94px;
    padding: 94px 0 0 100px;
    gap: 30px;
  }
  .banking-hero .hero-desc {
    width: 500px;
    padding: 0;
    gap: 25px;
  }
  .banking-hero .hero-desc h1 {
    font-size: 65px;
    text-align: center;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
    text-align: left;
  }
  .banking-hero .hero-desc p {
    color: hsl(233, 8%, 62%);
    text-align: center;
    font-size: 18px;
    text-align: left;
  }
  .banking-hero .hero-desc a {
    background: linear-gradient(15deg, hsl(192, 69%, 51%) 0%, hsl(136, 64%, 51%) 100%);
    color: hsl(0, 100%, 100%);
    border: none;
    border-radius: 30px;
    padding: 15px 40px;
    transition: opacity 0.15s ease-out;
    font-weight: 500;
    text-align: center;
  }
  .banking-hero .hero-desc a:hover {
    opacity: 0.6;
  }
  .banking-hero .hero-desc a {
    font-size: 20px;
  }
  .banking-hero .hero-img {
    background-size: auto;
    background-position: -70px -200px;
    margin-bottom: -180px;
  }
  .banking-hero .hero-img img {
    position: relative;
    z-index: 1;
    width: 100%;
    transform: translateY(-85px) translateX(120px);
  }
  .banking-features {
    scroll-margin-top: 94px;
    padding: 80px 100px;
  }
  .banking-features h2 {
    font-size: 45px;
    text-align: center;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
    text-align: left;
  }
  .banking-features ul {
    gap: 50px;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .banking-features ul img {
    width: 30%;
  }
  .banking-features ul li {
    min-width: 250px;
    max-width: 400px;
    align-items: start;
  }
  .banking-features ul p {
    max-width: 100%;
  }
  .banking-features h3 {
    font-size: 25px;
    text-align: center;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
    align-self: flex-start;
  }
  .banking-articles {
    scroll-margin-top: 94px;
    padding: 80px 100px;
  }
  .banking-articles h4 {
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
  }
  .banking-articles ul {
    flex-wrap: nowrap;
    gap: 10px;
  }
  .banking-articles figure {
    min-width: 290px;
    max-width: 400px;
  }
  .banking-articles figure img {
    min-height: 160px;
    max-height: 180px;
  }
  .banking-articles figure a {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
  }
  .banking-articles figure span {
    color: hsl(233, 8%, 62%);
    text-align: center;
    font-size: 13px;
    text-align: left;
  }
  .banking-footer {
    scroll-margin-top: 94px;
    padding: 40px 100px;
    gap: 200px;
  }
  .banking-footer .footer-brand {
    gap: 60px;
  }
  .banking-footer .nav-footer {
    height: 125px;
    gap: 28px;
  }
  .banking-footer .btn-invite {
    background: linear-gradient(15deg, hsl(192, 69%, 51%) 0%, hsl(136, 64%, 51%) 100%);
    color: hsl(0, 100%, 100%);
    border: none;
    border-radius: 30px;
    padding: 15px 40px;
    transition: opacity 0.15s ease-out;
    font-weight: 500;
    text-align: center;
  }
  .banking-footer .btn-invite:hover {
    opacity: 0.6;
  }
  .banking-footer .btn-invite {
    align-self: flex-end;
    transition: filter 0.2s ease-out;
  }
  .banking-footer .btn-invite:hover {
    opacity: 1;
    color: hsl(220, 16%, 96%);
    filter: brightness(120%);
  }
}/*# sourceMappingURL=style.css.map */
